@import url("https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap");
:root {
  --fontFamily: "Lakki Reddy", sans-serif;
  --black: rgb(0, 0, 0);
  --darkBlue: rgba(50, 67, 99, 0.74);
  --transparentDarkBlue: rgba(88, 120, 180, 0.377);
  --grey: rgb(54, 52, 52);
  --lightGrey: rgb(201, 197, 197);
  --transparentGrey: rgba(128, 128, 128, 0.514);
  --transition: 0.8s ease;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px rgba(165, 42, 42, 0.589);
}
::-webkit-scrollbar-thumb {
  background: rgba(211, 158, 14, 0.63);
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 166, 0, 0.616);
}

/* CONTAINERS AND COMPONENTS */

.App {
  background-image: url("./assets/img/background2.jpg");
  background-size: cover;
  height: 100vh;
  font-family: var(--fontFamily);
  color: var(--black);
}
header {
  height: 9vh;
}
.container {
  background-color: var(--transparentGrey);
  width: 70%;
  height: 90vh;
  border: 2px solid var(--black);
  border-radius: 10px;
  overflow: auto;
}
h4 {
  text-decoration: underline;
}
.col {
  align-items: center;
}

/* FORM */

.form-control {
  background-color: var(--darkBlue);
  border: 1px solid var(--black);
  color: var(--black);
  transition: var(--transition);
  padding-left: 5px;
}
.form-control:focus {
  background-color: var(--transparentDarkBlue);
  border-color: var(--black);
  color: var(--black);
}
.form-control::placeholder {
  color: var(--lightGrey);
}
.form-control:-ms-input-placeholder {
  color: var(--lightGrey);
}
.form-control::-ms-input-placeholder {
  color: var(--lightGrey);
}
.input-group-text {
  padding: 0;
  background-color: var(--darkBlue);
  border: solid var(--black) 1px;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.form-check {
  display: inline;
}
input[type="checkbox"] {
  cursor: pointer;
  transition: var(--transition);
  box-shadow: 0 0 0 2px var(--grey);
}
input[type="checkbox"]:checked {
  box-shadow: none;
}

/* BUTTONS */

.btn {
  background-color: transparent;
  outline: none;
  transition: var(--transition);
  border: none;
}
.btn-delete {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 1px;
  margin-top: 5px;
  margin-left: auto;
}
.save-btn {
  margin-left: 90%;
}

/* CARD */

.card {
  background-color: var(--darkBlue);
  border: 1px solid var(--black);
  border-radius: 5px;
  overflow: hidden;
  height: fit-content;
}

ul {
  width: 90%;
  min-height: 50%;
  margin-left: auto;
}

li > span {
  display: inline-block;
  width: 80%;
}

small {
  margin-top: auto;
}

@media (max-width: 768px) {
  .header {
    height: 15vh;
  }
  .output {
    min-height: 40vh;
  }
  .container {
    width: 90%;
    height: 84vh;
  }
}
